navbar

header#banner.hero-unit
  .container
    img(src='assets/images/yeoman.png')
    h5 Status
    .progress
        .progress-bar(ng-style="{'width' : Math.round(status.completed/status.total*100) + '%'}") {{status.completed}} from {{status.total}} complete

footer
